<template>
  <div class="app-container">
    <div class="filter-container">
      <el-input v-model="query.filters.message" placeholder="Keyword" style="width: 200px;" class="filter-item" @keyup.enter.native="handleFilter" />
      <el-button v-waves class="filter-item" type="primary" icon="el-icon-search" @click="handleFilter">
        Search
      </el-button>
    </div>
    <el-table
      v-loading="loading"
      :data="list"
      border
      fit
      highlight-current-row
      style="width: 100%;"
    >
      <el-table-column label="ID" prop="id"  align="center" min-width="15%">
        <template slot-scope="{row}">
          <span>{{ row.id }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Message" min-width="55%">
        <template slot-scope="{row}">
          <span class="link-type">{{ row.message }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Created Date" min-width="25%">
        <template slot-scope="{row}">
          <span class="link-type">{{ row.createdDate }}</span>
        </template>
      </el-table-column>
      
    </el-table>
    <pagination v-show="total > 0" :total="total" :page.sync="query.page" :limit.sync="query.pageSize" @pagination="fetchErrorLog" />

  </div>
</template>


<script>
import { apiPost, apiDelete } from '@/api/api'
import Pagination from '@/components/Pagination' // secondary package based on el-pagination
import endpoints from '@/api/endpoints'
import waves from '@/directive/waves' // waves directive
export default {
  name: 'errorlog',
  directives: { waves },
  components: { Pagination },
  data() {
    return {
      loading: false,
      total: 0,
      list: undefined,
      query: {
        page: 1,
        pageSize: 10,
        filters: {
          message : '',
        },
        sorts:[
          {field:'createdDate',order:'desc'}    
        ]
      }
    }
  },
  created() {
    this.fetchErrorLog()
  },
  methods: {
    handleFilter() {
      this.query.page = 1
      this.fetchErrorLog()
    },  
    fetchErrorLog(){
      this.loading = true
      apiPost(endpoints.search_error_log, this.query).then(response => {
        this.loading = false
        this.list = response.data.records
        this.total = response.data.total
      }).catch(error => {
        console.log(error)
        this.loading = false
      })
    }
  }
}
</script>