<template>
  <span>
    <input 
        type="checkbox" 
        :checked="checked"
        @click="checkedHandler"
      />
  </span>
</template>

<script>
export default {
  data: function (){
    return {
      quantity: 0,
      field:'',
      checked: false
    }
  },
  beforeMount() {
    this.quantity = this.params.quantity
    this.field = this.params.field
    this.checked= this.params.value
  },
  methods: {
    checkedHandler(event){
      if(event.target.checked === true) this.params.checkedHandler(this.params.data,this.quantity,event.target.checked,this.field,this.params.callback)
      else this.params.checkedHandler(this.params.data,0,event.target.checked,this.field,this.params.callback)
    }

  }
}
</script>
