<template>
  <div class="app-container">
    <div>
      <h2>
        <span v-html="order_name" />
      </h2>
    </div>
    <div class="filter-container">
      <el-form ref="dataForm" :model="model" label-position="left" label-width="250px" style="width: 400px; margin-left:20px;">
        <el-form-item label="Vui lòng nhập mã căn:" prop="customer_name">
          <el-input v-model="model.customer_name" placeholder="Customer Name" style="width: 250px;" class="filter-item" />
        </el-form-item>
        <el-form-item label="Địa điểm" prop="location">
          <el-select v-model="model.location" class="filter-item" clearable placeholder="Vui lòng chọn" value-key="id">
            <el-option v-for="item in locations" :key="item.id" :label="item.name" :value="item" />
          </el-select>
        </el-form-item>

        <el-form-item label="Vui lòng nhập sđt/zalo" prop="phone">
          <el-input v-model="model.phone" placeholder="SĐT/Zalo" style="width: 250px;" class="filter-item" />
        </el-form-item>
        <el-form-item label="Ghi Chú" prop="note">
          <el-input v-model="model.note" placeholder="Ghi Chú" style="width: 250px;" class="filter-item" />
        </el-form-item>

      </el-form>
    </div>

    <div>
      <h3>Summary : </h3><br>
      <span v-html="summarize" />
    </div>

    <div style="height: 600px">
      <ag-grid-vue
        style="width: 75%; height: 580px;"
        class="ag-theme-alpine"
        :row-data="rowData"
        :grid-options="gridOptions"
        :column-defs="columnDefs"
        :modules="modules"
        row-selection="single"
        :get-row-node-id="getRowNodeId"
        @grid-ready="onReady"
        @cell-value-changed="onCellValueChanged"
      />
    </div>
    <div>
      <el-button class="filter-item" style="margin-left: 10px;" type="primary" icon="el-icon-plus" @click="onSubmit">
        Submit
      </el-button>
    </div>
  </div>
</template>
<script>

import '@ag-grid-community/core/dist/styles/ag-grid.css'
import '@ag-grid-community/core/dist/styles/ag-theme-alpine.css'
import { AgGridVue } from '@ag-grid-community/vue'
// for community features
import { AllCommunityModules } from '@ag-grid-community/all-modules'
import 'v-autocomplete/dist/v-autocomplete.css'
import waves from '@/directive/waves' // waves directive
import db from '@/utils/firebase'
import constant from '@/utils/constants'
import firebase from 'firebase/app'
import uuid, { v4 as uuidv4 } from 'uuid'
import clip from '@/utils/clipboard'
import { searchASCII } from '@/utils/helper'
export default {
  name: 'App',
  directives: { waves },
  components: {
    'ag-grid-vue': AgGridVue
  },
  data() {
    return {
      gridOptions: null,
      rowData: this.rowData,
      columnDefs: this.columnDefs,
      modules: AllCommunityModules,
      filter_in_process: false,
      order: undefined,
      order_name: undefined,
      model: {
        customer_name: '',
        location: undefined,
        phone: '',
        note: ''
      },
      filter_column: undefined,
      locations: [],
      currentOrderId: undefined,
      order_products:[],
      summarize: '',
      note: '',
      statistic: '',
      products: undefined,
      rowClassRules: null,
      searchTimer: undefined,
      syncTimer: undefined,
      gridApi: undefined,
      selectedRow: undefined,
      current_filter_model: undefined
    }
  },
  beforeMount() {
    console.info('Before Mount')
    this.gridOptions = {}
  },
  created() {
    const tempRoute = Object.assign({}, this.$route)
    this.currentOrderId = this.$route.params && this.$route.params.id
    this.columnDefs = [
      {
        field: 'product',
        headerName: 'Sản Phẩm',
        width: 350,
        minWidth: 350

      },
      {
        field: 'quantity',
        headerName: 'Số lượng (Kg)',
        editable: true,
        cellEditor: 'agSelectCellEditor', cellEditorParams: {
          values: ['0.5', '1', '2', '3', '4', '5'] },
        width: 250,
        minWidth: 250
      }
    ]
    this.fetchLocations()
    this.fetch_products()
    this.fetch_order(this.currentOrderId)
  },
  destroyed() {
    // window.removeEventListener('storage', this.afterQRScan)

  },
  methods: {
    roundDown(value) {
      var rest = value % 1000
      var newValue = value - rest
      return newValue
    },
    get_summarize() {
      this.summarize = ''
      let total = 0
      this.rowData.forEach((item) => {
        if (item.quantity > 0) {
          this.summarize += '' + item.product
          this.summarize += ':'
          this.summarize += item.quantity
          this.summarize += ', '
          total += (item.quantity * item.price)
        }
      })
      const newTotal = this.roundDown(total)
      this.summarize += '==>'
      this.summarize += 'Tổng tiền: '
      this.summarize += this.formatNumber(newTotal)
    },
    fetch_order(id) {
      db.collection(constant.DB_ORDERS_TABLE).doc(id).get().then((querySnapshot) => {
        this.order = querySnapshot.data()
        console.log('Order:' + JSON.stringify(this.order))
        this.order_name = this.order.name
      })
    },
    onReady(params) {
      this.gridApi = params.api
    },
    onCellValueChanged(event) {
      const item = event.data
      var rowNode = this.gridOptions.api.getRowNode(item.productId)
      // this.rowData[event.rowIndex]  = item
      rowNode.setData(item)
      this.get_summarize()
    },
    calc_total_bill(item) {
      let total_bill = 0
      this.products.forEach((product) => {
        if (item['' + product.id] !== undefined && item['' + product.id] > 0) {
          total_bill += (item['' + product.id + '-price'] * item['' + product.id])
        }
      })
      return total_bill
    },
    fetchLocations() {
      db.collection(constant.DB_LOCATION_TABLE).get().then((querySnapshot) => {
        querySnapshot.forEach((doc) => {
          this.locations.push({ id: doc.id, name: doc.data().name })
        })
      })
    },
    fetch_products() {
      this.products = []
      db.collection(constant.DB_PRODUCT_TABLE).get().then((querySnapshot) => {
        querySnapshot.forEach((doc) => {
          const prod = doc.data()
          prod.id = doc.id
          if (prod.active) {
            this.products.push({ id: doc.id, name: doc.data().name, price: doc.data().price, active: doc.data().active })
          }
          this.create_row_data()
        })
      })
    },
    create_row_data() {
      this.rowData = []
      this.products.forEach((item) => {
        const name = item.name + ' (' + this.formatNumber(item.price) + ')'
        const newItem = { productId: item.id, product: name, quantity: 0, price: item.price }
        this.rowData.push(newItem)
      })
    },
    formatNumber(number) {
      return Math.floor(number)
        .toString()
        .replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')
    },
    getRowNodeId(data) {
      return data.id
    },
    onSubmit() {
      let cust_name = this.model.customer_name
      if (this.model.phone !== undefined) cust_name += ' - ' + this.model.phone
      const item = { customer_name: cust_name, total_bill: 0, location: this.model.location.name, status: 'None', order_id: this.currentOrderId, note: this.model.note }
      item['timestamp'] = new Date().getTime()
      this.rowData.forEach((product) => {
        if (product.quantity !== undefined && product.quantity > 0) {
          item['' + product.productId] = product.quantity
          item['' + product.productId + '-price'] = product.price
        }
      })
      db.collection(constant.DB_ORDER_DETAIL_TABLE).add(item).then((docRef) => {
        this.$message({
          message: 'Xin cảm ơn.',
          type: 'success'
        })
        // this.fetch_order_details(this.currentOrderId)
      })
    }
  }
}
</script>

