<template>
  <div class="app-container">
    <h3>Xin cảm ơn quý khách đã dùng sản phẩm của chúng tôi.</h3>
    <div>
      <el-button class="filter-item" style="margin-left: 10px;" type="primary"  @click="onBack">
        Tiếp tục mua rau.
      </el-button>
    </div>
  </div>
  
</template>
<script>
export default {
  name: 'MuaRau_Success',
  data() {
    return {
      currentOrderId: undefined
    }
  },
  created() {
    const tempRoute = Object.assign({}, this.$route)
    this.currentOrderId = this.$route.params && this.$route.params.id
  },
  methods: {
    onBack(){
      const url = '/muarau/' + this.currentOrderId
      this.$router.replace(url)
    }
  }
}
</script>