<template>
  <div class="app-container">
    <div class="filter-container">
      <el-input v-model="model.name" placeholder="Location Name" style="width: 200px;" class="filter-item" @keyup.enter.native="addLocation" />
      <el-button class="filter-item" style="margin-left: 10px;" type="primary" icon="el-icon-plus" @click="addLocation" />
    </div>
    
    <div>
      <vue-editable-grid
        class="my-grid-class"
        ref="grid"
        id="mygrid"
        :column-defs="columnDefs"
        :row-data="list"
        row-data-key="id"
        @cell-updated="cellUpdated"
        @link-clicked="linkClicked"
      >
      </vue-editable-grid>
    </div>
  </div>
</template>
<script>
import VueEditableGrid from "vue-editable-grid";
import "vue-editable-grid/dist/VueEditableGrid.css";
import waves from '@/directive/waves' // waves directive
import db from '@/utils/firebase'
import constant from '@/utils/constants'
export default {
  name: 'App',
  directives: { waves },
  components: { 'vue-editable-grid' : VueEditableGrid },
  data() {
    return {
      loading: false,
      total: 0,
      list: undefined,
      columnDefs:undefined,
      model:{
        name: ''
      },
      query: {
        page: 1,
        pageSize: 10,
        keyword: ''
      }
    }
  },
  beforeMount(){
    this.createColumnDefs()
  },
  created() {
    this.fetchLocations()
  },
  methods: {
    linkClicked($event){
      if($event.rowData !== undefined){
        db.collection(constant.DB_LOCATION_TABLE).doc($event.rowData.id).delete().then(() => {
        this.fetchLocations()
        this.$message({
                message: 'Deleted successful.',
                type:'success'
              })
        })
      }
    },
    createColumnDefs(){
      this.columnDefs = [
        {
          sortable: false,
          filter: false,
          field: "id",
          headerName: "#",
          editable: false
        },
        {
          sortable: true,
          filter: true,
          field: "name",
          headerName: "Location Name",
          editable: true,
        },
        {
          sortable: false,
          filter: false,
          field: "action",
          headerName: "Action",
          type:'link',
          editable: false
        }
      ]
    },
    cellUpdated($event){
      let rowData = $event.row
      rowData[''+ $event.column.field] = $event.value
      this.list[$event.rowIndex] = rowData
      let update_item = {}
      update_item[''+ $event.column.field] = $event.value
      db.collection(constant.DB_LOCATION_TABLE).doc(rowData.id).update(update_item)

    },
    fetchLocations() {
      this.loading = true
      this.list = []
      db.collection(constant.DB_LOCATION_TABLE).get().then((querySnapshot)=> {
        querySnapshot.forEach((doc) =>{
          this.list.push({id:doc.id,name: doc.data().name,action:'Delete'})
        })
        this.loading = false
        console.info(''+JSON.stringify(this.list))
      })
    },
    addLocation(){
      db.collection(constant.DB_LOCATION_TABLE).add({
        name: this.model.name
      }).then((docRef)=>{
        this.$message({
                message: 'Created successful.',
                type:'success'
              })
              this.model.name = ''
        this.fetchLocations()
      })
    }
  }
}
</script>

<style>
.my-grid-class {
  height: 400px;
}