<template>
  <div class="app-container">
    <el-form ref="form1" :model="model_dbx_token" label-width="120px">
      <el-form-item label="Dropbox Token" prop="value">
        <el-input v-model="model_dbx_token.value" />
      </el-form-item>
    </el-form>
    <el-form ref="form2" :model="model_dbx_folder" label-width="120px">
      <el-form-item label="Dropbox Folder" prop="value">
        <el-input v-model="model_dbx_folder.value" />
      </el-form-item>
      
    </el-form>
    <el-button type="primary" @click="onSubmit">Save</el-button>
  </div>
</template>

<script>
import { apiPost, apiDelete } from '@/api/api'
import endpoints from '@/api/endpoints'
export default {
  data() {
    return {
        loading: false,
        query:{
            filters:{
                or: [
                  {field:'key',value:'dbx_token'},
                  {field:'key',value:'dbx_folder'}
                ]
            }
        },
        model_dbx_token: {
          key :"dbx_token",
          value: undefined
        },
        model_dbx_folder:{
          key :"dbx_folder",
          value: undefined
        }
    }
  },
  created() {
      this.fetchSetting()
  },
  methods: {
    getIdx(items,key){
      return items.findIndex(item=> item.key === key)
    },
    fetchSetting() {
        apiPost(endpoints.search_setting, this.query).then(response => {
          const settings = response.data.records
          if (settings && settings.length > 0) {
            const idx_dbx_token = this.getIdx(settings,'dbx_token')
            const idx_dbx_folder = this.getIdx(settings,'dbx_folder')
            console.log ('dbx_token:' +idx_dbx_token)
            console.log ('dbx_folder:' +idx_dbx_folder)
            if (idx_dbx_token >= 0) this.model_dbx_token = settings[idx_dbx_token]
            if (idx_dbx_folder >= 0) this.model_dbx_folder = settings[idx_dbx_folder]
          
          }
        })
    },  
    onSubmit() {
      let settings = {
            settings: []
      }
      settings.settings.push (this.model_dbx_token)
      settings.settings.push (this.model_dbx_folder)
      apiPost(endpoints.update_collection_setting, settings).then(response=>{
        this.$message({
          message: 'Updated successful.',
          type:'success'
        })
      })
    },
    onCancel() {
      this.$message({
        message: 'cancel!',
        type: 'warning'
      })
    }
  }
}
</script>