<template>
    <span> 
        <el-button class="filter-item" style="margin-left: 10px;" type="primary" @click="deleteHandler"   >Delete</el-button>
    </span>
</template>

<script>
export default{
  data(){
    return {
      displayValue: '',
    };
  },
  beforeMount() {
    
  },
  methods: {
    deleteHandler(){
      this.params.deleteHandler(this.params.data,this.params.callback)
    }

  }
}
</script>
