<template>
  <div class="app-container">
    <div class="filter-container">
      <el-input v-model="model.name" placeholder="Product Name" style="width: 200px;" class="filter-item" />
      <el-input v-model="model.price" placeholder="Product Price" style="width: 200px;" class="filter-item" /> x 1000
      <el-button class="filter-item" style="margin-left: 10px;" type="primary" icon="el-icon-plus" @click="addProduct" />
    </div>
    
    <div class="filter-container">
      <el-button class="filter-item" style="margin-left: 10px;" type="primary"  @click="activeAll" >Active All</el-button>
      <el-button class="filter-item" style="margin-left: 10px;" type="primary"  @click="deactiveAll" >Deactive All</el-button>
    </div>
     <div style="height: 600px">
    <ag-grid-vue style="width: 100%; height: 450px;" class="ag-theme-alpine"
                     :rowData="rowData"
                     :gridOptions="gridOptions"
                     :columnDefs="columnDefs"
                     :modules="modules"
                     rowSelection='multiple'
                     @cell-value-changed="onCellValueChanged"
                     :getRowNodeId="getRowNodeId">
    </ag-grid-vue>
    </div>
  </div>
</template>
<script>

import '@ag-grid-community/core/dist/styles/ag-grid.css';
import '@ag-grid-community/core/dist/styles/ag-theme-alpine.css';
import {AgGridVue} from "@ag-grid-community/vue"
import {AllCommunityModules} from "@ag-grid-community/all-modules";
import ActionCellRenderer from './action_cell_renderer'
import waves from '@/directive/waves' // waves directive
import db from '@/utils/firebase'
import constant from '@/utils/constants'
import {searchASCII} from '@/utils/helper'
import ToggleCellRenderer from './toggle_cell_renderer'

export default {
  name: 'App',
  directives: { waves },
  components: {
    'ag-grid-vue': AgGridVue,
    ActionCellRenderer,
    ToggleCellRenderer
  },
  data() {
    return {
      gridOptions: null,
      rowData: this.rowData,
      columnDefs: this.columnDefs,
      modules: AllCommunityModules,
      frameworkComponents:undefined,
      products:undefined,
      model:{
        name: '',
        price: 0
      },
      filter_column: undefined
    }
  },
  beforeMount() {
    this.gridOptions = {};
    this.create_fixed_columns()
  },
  created() {
    this.fetchProducts()
  },
  methods: {
    activeAll(){
      db.collection(constant.DB_PRODUCT_TABLE).get().then((querySnapshot)=> {
        let batch = db.batch()
        querySnapshot.forEach((doc)=>{
          let newItem = doc.data()
          newItem.id = doc.id
          newItem.active = true
          batch.set(doc.ref,newItem)
        })
        batch.commit().then(() =>{
          this.fetchProducts()
        })
      })
    },
    deactiveAll(){
      db.collection(constant.DB_PRODUCT_TABLE).get().then((querySnapshot)=> {
        let batch = db.batch()
        querySnapshot.forEach((doc)=>{
          let newItem = doc.data()
          newItem.id = doc.id
          newItem.active = false
          batch.set(doc.ref,newItem)
        })
        batch.commit().then(() =>{
          this.fetchProducts()
        })
        
      })
    },
    onCellValueChanged(event){
      let item = event.data 
      var rowNode = this.gridOptions.api.getRowNode(item.id)
      // this.rowData[event.rowIndex]  = item
      rowNode.setData(item)
      db.collection(constant.DB_PRODUCT_TABLE).doc(item.id).set(item,{merge:true})
      console.info('Changed:'+JSON.stringify(item))
    },
    create_fixed_columns(){
      this.columnDefs =[
        {colId: 'id',lockPosition:true,suppressSizeToFit:true,headerName: '#', field: 'id',width: 300,minWidth:250},
        {colId: 'name',lockPosition:true,suppressSizeToFit:true,headerName: 'Product Name', field: 'name',width: 200,minWidth:150 ,editable:true,
          filter: 'agTextColumnFilter',
          filterParams: {
            textCustomComparator: (filter, value, filterText) => {
              const filterTextLowerCase = filterText.toLowerCase()
              const valueLowerCase = value.toString().toLowerCase()
              
              return searchASCII(valueLowerCase, filterTextLowerCase)
            } 
          }
        },
        {colId: 'price',lockPosition:true,suppressSizeToFit:true,headerName: 'Price', field: 'price', width: 250,minWidth:150,editable:true,
          valueFormatter:(params)=>{
              return '$' + this.formatNumber(params.value);
          }
        },
        {colId: 'active',lockPosition:true,suppressSizeToFit:true,headerName: 'Active ', field: 'active',width: 200,minWidth:150 ,
          cellRendererFramework: 'ToggleCellRenderer',
          cellRendererParams: {
            callback:this,
            onChange: function(item,value,callback){
              item.active = value
              callback.updateItem(item)
            }
          }
        },
        {colId: 'actions',lockPosition:true,suppressSizeToFit:true,headerName: 'Actions', field: 'action',width: 400,minWidth:400,
          cellRendererFramework: 'ActionCellRenderer',
          cellRendererParams: {
            callback: this,
            deleteHandler: function(data,cb){
              // console.info ("delete :" + JSON.stringify(data))
              cb.deleteProduct(data.id)
            }

          }
        },
      ]
    },
    updateItem(item){
      var rowNode = this.gridOptions.api.getRowNode(item.id)
            // this.rowData[event.rowIndex]  = item
      rowNode.setData(item)

      console.info('Data:'+JSON.stringify(item))
      db.collection(constant.DB_PRODUCT_TABLE).doc(item.id).set(item,{merge:true})
    },
    formatNumber(number) {
      return Math.floor(number)
        .toString()
        .replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,');
    },
    getRowNodeId(data){
      return data.id
    },
    fetchProducts() {
      this.rowData = []
      db.collection(constant.DB_PRODUCT_TABLE).get().then((querySnapshot)=> {
        querySnapshot.forEach((doc) =>{
          this.rowData.push({id:doc.id,name: doc.data().name,price:Number(doc.data().price),active:doc.data().active,action:'Delete'})
        })
      }) 
    },
    deleteProduct(id){
      this.$confirm('Confirm to remove the Product?', 'Warning', {
        confirmButtonText: 'Confirm',
        cancelButtonText: 'Cancel',
        type: 'warning'
      }).then(async() => {
        const idx = this.rowData.findIndex(item => item.id === id)
        this.rowData.splice(idx,1)
        db.collection(constant.DB_PRODUCT_TABLE).doc(id).delete()
        this.$message({
                message: 'Deleted successful.',
                type:'success'
              })
      }) 
    },
    addProduct(){
      let item = {
        name: this.model.name,
        price: Number(this.model.price) * 1000,
        active:true
      }
      db.collection(constant.DB_PRODUCT_TABLE).add(item).then((docRef)=>{
        this.$message({
                message: 'Created successful.',
                type:'success'
              })
        this.model.name = ''
        item.id = docRef.id
        this.rowData.push(item)
      })
    }
    
  }
}
</script>

<style>
.my-grid-class {
  height: 400px;
}
</style>
