<template>
    <span> 
        <toggle-button :value="value" @change="onChangeHandler"/>
          
    </span>
</template>
<script>

export default {
  data: function (){
    return {
      value: ''
    }
  },
  beforeMount() {
    this.value = this.params.value
  },
  methods: {
    onChangeHandler(event){
      this.params.onChange(this.params.data,event.value,this.params.callback)
    }
  }

}
</script>
