<template>
  <span>
    <el-button class="filter-item" style="margin-left: 10px;" type="primary" @click="editHandler">Edit</el-button>
    <el-button class="filter-item" style="margin-left: 10px;" type="primary" @click="deleteHandler">Delete</el-button>
    <el-button class="filter-item" style="margin-left: 10px;" type="primary" @click="copyLinkHandler">Copy Link</el-button>
    <el-button class="filter-item" style="margin-left: 10px;" type="primary" @click="updateProductsHandler">Update Products</el-button>
  </span>
</template>

<script>
export default {
  data: function() {
    return {
      displayValue: ''
    }
  },
  beforeMount() {

  },
  methods: {
    editHandler() {
      this.params.editHandler(this.params.data, this.params.router)
    },
    deleteHandler() {
      this.params.deleteHandler(this.params.data, this.params.callback)
    },
    copyLinkHandler() {
      this.params.copyLinkHandler(this.params.data, this.params.callback)
    },
    updateProductsHandler(){
      this.params.updateProductsHandler(this.params.data, this.params.callback)
    }

  }
}
</script>
