<template>
  <div class="app-container">
    <div class="filter-container">
      <el-form ref="dataForm" :model="model" label-position="left" label-width="150px" style="width: 400px; margin-left:20px;">
        <el-form-item label="Customer Name" prop="name">
          <el-input v-model="model.customer_name" placeholder="Customer Name" style="width: 200px;" class="filter-item" />  
        </el-form-item>
        <el-form-item label="Locations" prop="location">
          <el-select v-model="model.location" class="filter-item" clearable placeholder="Please select" @change="selectLocation" value-key="id">
            <el-option v-for="item in locations" :key="item.id" :label="item.name" :value="item"  />
          </el-select>
        </el-form-item>
        <el-button class="filter-item" style="margin-left: 10px;" type="primary" icon="el-icon-plus" @click="add_customer" />
        <el-button class="filter-item" style="margin-left: 10px;" type="primary" @click="refresh"   >Refresh</el-button>
        <el-button class="filter-item" style="margin-left: 10px;" type="primary" @click="calc_bill"  >Calculate Bill</el-button>
        <el-button class="filter-item" style="margin-left: 10px;" type="primary" @click="cacl_quantity" >Calculate Quantity</el-button>
        <el-button class="filter-item" style="margin-left: 10px;" type="primary" @click="update_price"   >Update Price</el-button>
        <el-button class="filter-item" style="margin-left: 10px;" type="primary" @click="update_product"  >Update Products</el-button>
        <el-button class="filter-item" style="margin-left: 10px;" type="primary" @click="estimate_bill"  >Estimate Bill</el-button>
        
      </el-form>
    </div>  
    <div>
        <h3>Statistic : </h3><br> 
        <span v-html="statistic"></span>
    </div>
    <div style="color: red">
        <h3>Note : <span v-html="note"></span> </h3><br>
        
    </div>
    <div>
        <h3>Summary : </h3><br>
        <span v-html="summarize"></span>
        <el-button type="primary" size="mini" icon="el-icon-document" @click="copyToClipboard(summarize,$event)">
            Copy
        </el-button>
    </div>

    <div>
      <el-form ref="dataForm" label-position="left" label-width="150px" style="width: 400px; margin-left:20px;">
      <el-form-item label="Filter Column" prop="filter_column">
          <el-input v-model="filter_column" placeholder="Column Name" style="width: 200px;" class="filter-item" @keyup.stop.native="on_filter_with_timer" />  
        </el-form-item>
      </el-form>
    </div>

    <div>
      <el-form ref="dataForm" label-position="left" label-width="150px" style="width: 400px; margin-left:20px;">
      <el-form-item label="Filter Customer" prop="filter_customer">
          <el-input v-model="filter_customer" placeholder="Customer Name" style="width: 200px;" class="filter-item" @keyup.stop.native="on_filter_table_with_timer" />  
        </el-form-item>
      </el-form>
    </div>
    <div>
      <el-form ref="dataForm" label-position="left" label-width="150px" style="width: 400px; margin-left:20px;">
      <el-form-item label="Filter Location" prop="filter_location">
          <el-input v-model="filter_location" placeholder="Location Name" style="width: 200px;" class="filter-item" @keyup.stop.native="on_filter_table_with_timer" />  
        </el-form-item>
      </el-form>
    </div>

    <div style="height: 600px">
    <ag-grid-vue style="width: 100%; height: 450px;" class="ag-theme-alpine"
                     :rowData="rowData"
                     :gridOptions="gridOptions"
                     :columnDefs="columnDefs"
                     :modules="modules"
                     @grid-ready="onReady"
                     :getRowStyle="getRowStyle"
                     rowSelection='single'
                     @cell-value-changed="onCellValueChanged"
                     @selectionChanged="onRowSelectionChanged"
                     :getRowNodeId="getRowNodeId">
        </ag-grid-vue>
    </div>

  </div>
</template>
<script>

import '@ag-grid-community/core/dist/styles/ag-grid.css';
import '@ag-grid-community/core/dist/styles/ag-theme-alpine.css';
import {AgGridVue} from "@ag-grid-community/vue";
    // for community features
import {AllCommunityModules} from "@ag-grid-community/all-modules";
import Autocomplete from 'v-autocomplete'
import 'v-autocomplete/dist/v-autocomplete.css'
import waves from '@/directive/waves' // waves directive
import db from '@/utils/firebase'
import constant from '@/utils/constants'
import firebase from "firebase/app"
import uuid, { v4 as uuidv4 } from 'uuid';
import clip from '@/utils/clipboard'
import {searchASCII} from '@/utils/helper'
export default {
  name: 'App',
  directives: { waves },
  components: { 
    'ag-grid-vue': AgGridVue
  },
  data() {
    return {
      gridOptions: null,
      rowData: this.rowData,
      columnDefs: this.columnDefs,
      modules: AllCommunityModules,
      filter_in_process: false,
      model:{
        customer_name: '',
        location: undefined
      },
      filter_column:undefined,
      filter_location:undefined,
      filter_customer:undefined,
      locations: [],
      currentOrderId:undefined,
      summarize:'',
      note:'',
      statistic:'',
      products:undefined,
      rowClassRules: null,
      searchTimer:undefined,
      syncTimer:undefined,
      gridApi:undefined,
      selectedRow:undefined,
      current_filter_model:undefined,
      bank_info:'MoMo: 0933770566, Chu TK: Pham Duy Long<br>'+'Ngan hang: TPBank HCM, TK: 00555834001,'+' Chu TK: Dong Thi Thanh Thanh Huong'
    }
  },
  beforeMount() {
    console.info("Before Mount")
    this.gridOptions = {};
    
  },
  created() {
    const tempRoute = Object.assign({}, this.$route)
    this.currentOrderId = this.$route.params && this.$route.params.id
    this.fetchLocations()
    this.create_fixed_columns()
    this.fetch_products()

  },
   destroyed() {
    // window.removeEventListener('storage', this.afterQRScan)
    console.info("destroyed")
    // this.unsubscribe() 
    clearInterval(this.syncTimer)
    this.syncTimer = null
  },
  methods: {
    
    estimate_bill(){
      this.summarize = ''
      let total = 0
      this.rowData.forEach((item)=>{
        if(item.status.toLowerCase() !== 'cancel'){
          total+= item.total_bill
        }
      })
      this.summarize = 'Estimation Bill: ' + this.format_currency(Number(total),'')
    },
    refresh(){
      this.fetch_order_details(this.currentOrderId)
    },
    on_filter_table_with_timer(){
      if (this.filter_in_process) return
      if(this.searchTimer){
        clearTimeout(this.searchTimer)
        this.searchTimer = null
      }
      this.searchTimer = setTimeout(()=>{
        this.on_filter_table()
      },400)
    },
    on_filter_with_timer(){
      if (this.filter_in_process) return
      if(this.searchTimer){
        clearTimeout(this.searchTimer)
        this.searchTimer = null
      }
      this.searchTimer = setTimeout(()=>{
        this.on_filter_column()
      },400)
    },
    roundDown(value){
      var rest = value % 1000
      var newValue = value - rest
      return newValue
    },

    on_filter_table(){
      let filter = {}
      this.filter_in_process = true
      if(this.filter_customer !== undefined && this.filter_customer.length > 0){
        filter.customer_name = {
          filterType: 'text',
          type: 'startsWith',
          filter: this.filter_customer
        }
      }else{
        filter.customer_name = null
      }

      if(this.filter_location !== undefined && this.filter_location.length > 0){
        filter.location = {
          filterType: 'text',
          type: 'startsWith',
          filter: this.filter_location
        }
      }else{
        filter.location = null
      }
    
      this.gridOptions.api.setFilterModel(filter);
      this.gridOptions.api.onFilterChanged();
      this.filter_in_process = false;
    },
    on_filter_column(){
      const default_visible_cols =['total_bill','location','note','ship_fee']
      const default_cols = ['customer_name','total_bill','location','note','ship_fee','status']
      let resize_cols = []
      if (this.filter_column !== undefined && this.filter_column.length > 0){
        this.filter_in_process = true
        this.gridOptions.columnApi.setColumnsVisible(default_visible_cols,false)
        this.products.forEach((product)=>{    
          if(searchASCII(product.name,this.filter_column)){
            this.gridOptions.columnApi.setColumnVisible(product.id,true)
            resize_cols.push(product.id)
          }else{
            this.gridOptions.columnApi.setColumnVisible(product.id,false)
          }
        })
        this.gridOptions.api.sizeColumnsToFit()  
      } else{
        this.gridOptions.columnApi.setColumnsVisible(default_cols,true)
        this.products.forEach((product)=>{    
          this.gridOptions.columnApi.setColumnVisible(product.id,true)
        })
        this.columnDefs.forEach(x => {
          if(default_cols.includes(x.headerName)){
            if(x.headerName === 'note') x.width = 300
            else x.width = 200
          }else{  
            x.width = x.headerName.length * 15
          }
          
        });
        this.gridApi.setColumnDefs(this.columnDefs)
      }
      
      this.filter_in_process = false
      
    },
    update_product(){
      this.fetch_products()
    },
    update_price(){
      let newItems = []
      this.rowData.forEach((item)=>{
        let total_bill = 0
        this.products.forEach((product)=>{    
          if(item[''+product.id] !== undefined && item[''+product.id+'-price'] !== undefined){
            total_bill+=  Number(product.price) * Number(item[''+product.id])
            item[''+product.id+'-price'] = product.price
          }
        })
        item.total_bill = total_bill
        newItems.push(item)
      })
      this.rowData = newItems
      this.$message({
            message: 'Updated successful.',
             type:'success'
          })

    },
    calc_bill(){
      let total_bill = 0
      this.rowData.forEach((item)=>{
        this.products.forEach((product)=>{    
          if(item[''+product.id] !== undefined && item[''+product.id+'-price'] !== undefined 
                                                && (item.status.toLowerCase() === 'done' 
                                                    || item.status.toLowerCase() === 'paid' 
                                                    || item.status.toLowerCase() === 'sent bill')){
            total_bill+=  (Number(item[''+product.id+'-price']) * Number(item[''+product.id]))
          }
        }) 
        if(item.ship_fee !== undefined && item.ship_fee >0) total_bill+= Number(item.ship_fee)
      })
      db.collection(constant.DB_ORDERS_TABLE).doc(this.currentOrderId).update({total_bill:total_bill}).then(() =>{
          this.$message({
            message: 'Updated successful.',
             type:'success'
          })
      })
    },
    cacl_quantity(){
      let sum  = 0     
      let str = ''
      this.products.forEach((product)=>{
        sum = 0
        this.rowData.forEach((item)=>{
          sum+= Number(item[''+product.id])
        })
        if (sum >0) {
          str+= '<b>'+product.name+'</b>'
          str+= ': '
          str+= sum 
          str+= '<br>'
        }
        
      })
      this.summarize = str
          
    },
    getRowNodeId(data){
      return data.id
    },
    onCellValueChanged(event){
      console.info('onCellValueChanged: ' + event.oldValue + ' to ' + event.newValue +',row:'+ event.rowIndex+',col:'+event.colDef.field);   
      const idxProduct = this.products.findIndex(item => item.id === event.colDef.field)
      let item = event.data
      console.info("Before Change:"+ item.total_bill)
      if (idxProduct >= 0){
        const total_bill = this.calc_total_bill(item) 
        item.total_bill = total_bill
        console.info("After Change:"+ item.total_bill)
      }
      var rowNode = this.gridOptions.api.getRowNode(item.id)
      // this.rowData[event.rowIndex]  = item
      rowNode.setData(item)
      this.get_summarize(item)
      console.info('Cell changed:')
      db.collection(constant.DB_ORDER_DETAIL_TABLE).doc(item.id).set(item,{merge:true})
    },
    onRowSelectionChanged(){
      console.info('Row changed:')
      const select = this.gridOptions.api.getSelectedRows()
      let item = select[0]
      this.selectedRow = item
      this.get_summarize(item)
    },
    get_summarize(item){
      this.summarize = ''
      this.note = ''
      if(item !== undefined && item != null){
        this.note = item.note
        this.summarize +='['
        this.summarize += item.customer_name
        this.summarize += '  -  '
        this.summarize += item.location
        this.summarize += '] ' 
        let total = 0
        
        this.products.forEach((product) =>{
          if(item[''+product.id] > 0) {
            this.summarize += '' + product.name
            this.summarize += ':' 
            this.summarize += item[''+product.id] +' x ' + item[''+product.id+'-price']
            this.summarize += ', '
            
            total+= (item[''+product.id+'-price'] * item[''+product.id])
          }
        })
        var newTotal = this.roundDown(total);
        console.info('Total:'+ total)
        console.info('New Total:'+ newTotal)
        this.summarize += '==>'
        this.summarize += 'tong tien: '  
        if(item.ship_fee !== undefined && item.ship_fee > 0) {
          this.summarize += this.format_currency(Number(total),'')
          this.summarize += '+ ship:' + item.ship_fee
          this.summarize += '='
          total = parseInt(total) + parseInt(item.ship_fee)
          var newTotal = this.roundDown(total);
          this.summarize += this.format_currency(Number(newTotal),'')
        } else{
          this.summarize +=  this.format_currency(Number(newTotal),'')
        }
      }
    },
    getRowStyle(params){
      if (params.data.status.toLowerCase() == 'doing'){
        return {'background-color':'yellow'}
      }
      if (params.data.status.toLowerCase() == 'done'){
        return {'background-color':'green'}
      }
      if (params.data.status.toLowerCase() == 'paid'){
        return {'background-color':'#8B8E92'}
      }
      if (params.data.status.toLowerCase() == 'cancel'){
        return {'background-color':'red'}
      }
      if (params.data.status.toLowerCase() == 'none'){
        return {'background-color':'white'}
      }
      if (params.data.status.toLowerCase() == 'delivered'){
        return {'background-color':'#34eb8c'}
      }
      if (params.data.status.toLowerCase() == 'sent bill'){
        return {'background-color':'#e6c8b5'}
      }
      if (params.data.status.toLowerCase() == 'pending'){
        return {'background-color':'#f58a42'}
      }

    },
    calc_total_bill(item){
      let total_bill = 0
      this.products.forEach((product)=>{
        if(item[''+product.id] !== undefined && item[''+product.id]> 0) {
          total_bill+= (item[''+product.id+'-price'] * item[''+product.id])
        }
      })
      return total_bill
      // if(total_bill !== undefined){
      //   total_bill = Number(total_bill) - (Number(old_quantity) * item[''+product_id +'-price'])
      //   total_bill = Number(total_bill) + (Number(new_quantity) * item['' + product_id + '-price'])
      //     return total_bill 
      // }
      // return 0
    },
    format_currency(n, currency) {
      return currency + n.toFixed(1).replace(/(\d)(?=(\d{3})+\.)/g, '$1,');
    },
    selectLocation(val){
      this.model.location = val
    },
    onReady(params) {
      this.gridApi = params.api
      
    },
    copyToClipboard(data,event) {
      let tmp = data +'<br><br>' + this.bank_info
      var brRegex = /<br\s*[\/]?>/gi
      tmp = tmp.replace(brRegex,"\r\n")
      clip(tmp,event)
      if(this.selectedRow !== undefined && this.selectedRow.status.toLowerCase() === 'done'){
        var rowNode = this.gridOptions.api.getRowNode(this.selectedRow.id)
        this.selectedRow.status ='Sent Bill'
      // this.rowData[event.rowIndex]  = item
        rowNode.setData(this.selectedRow)
        db.collection(constant.DB_ORDER_DETAIL_TABLE).doc(this.selectedRow.id).set(this.selectedRow,{merge:true})
      }
    },
    create_fixed_columns(){
      this.columnDefs =[
        {colId: 'customer_name',lockPosition:true,suppressSizeToFit:true,headerName: 'Customer Name', field: 'customer_name', pinned: 'left',width: 150,minWidth:150 ,filter: 'agTextColumnFilter',sortable:true,
          filterParams: {
            textCustomComparator: (filter, value, filterText) => {
              const filterTextLowerCase = filterText.toLowerCase()
              const valueLowerCase = value.toString().toLowerCase()
              
              return searchASCII(valueLowerCase, filterTextLowerCase)
            }
          } 
        },
        {colId: 'status',lockPosition:true,suppressSizeToFit:true,headerName: 'Status', field: 'status', width: 150,minWidth:150 ,editable:true,sortable:true,
          cellEditor: 'agSelectCellEditor',cellEditorParams: {
          values: ['None', 'Doing', 'Done', 'Paid', 'Pending','Sent Bill', 'Cancel']},
          filter: 'agTextColumnFilter'
        },
        {colId: 'total_bill',lockPosition:true,suppressSizeToFit:true,headerName: 'Total Bill', field: 'total_bill', width: 150,minWidth:150,
          valueFormatter:(params)=>{
            return '$' + this.formatNumber(params.value);
        }},
        {colId: 'location',lockPosition:true,suppressSizeToFit:true,headerName: 'Location', field: 'location',width: 150,minWidth:150,filter: 'agTextColumnFilter',sortable:true,editable:true },
        {colId: 'note',lockPosition:true,suppressSizeToFit:true,headerName: 'Note', field: 'note',width: 200,minWidth:150 ,editable:true },
        {colId: 'ship_fee',lockPosition:true,suppressSizeToFit:true,headerName: 'Ship Fee', field: 'ship_fee', width: 100,minWidth:150,editable:true },
        
      ]
    },
    formatNumber(number) {
      return Math.floor(number)
        .toString()
        .replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,');
    },
    add_product_2_col_defs(product){
      let item = {headerName: product.name,lockPosition:true,colId: product.id ,field: product.id,width:150,editable:true,minWidth:100}
      item.width = product.name.length * 15
      this.columnDefs.push(item)
    },
    fetchLocations(){
      db.collection(constant.DB_LOCATION_TABLE).get().then((querySnapshot)=> {
        querySnapshot.forEach((doc) =>{
          this.locations.push({id:doc.id,name: doc.data().name})
        })
      })
    },
    fetch_products(){
      this.products = []
      db.collection(constant.DB_PRODUCT_TABLE).get().then((querySnapshot) =>{
          querySnapshot.forEach((doc) =>{
            const prod = doc.data()
            prod.id = doc.id
            this.products.push({id:doc.id,name:doc.data().name,price:doc.data().price,active:doc.data().active})
            this.add_product_2_col_defs(prod)

            this.list_of_products += '<b>'+prod.name+'</b>'
            this.list_of_products += ': '
            this.list_of_products += prod.price
            this.list_of_products += '<br/>'
          })
          this.fetch_order_details(this.currentOrderId)

        })
    },
    fetch_order_details(id){
      db.collection(constant.DB_ORDER_DETAIL_TABLE).where('order_id','==',id).get().then((querySnapshot) =>{
          let count_of_none = 0
          let count_of_done = 0
          let count_of_doing =0
          let count_of_paid = 0
          let count_of_cancel=0
          let count_of_pending=0
          this.rowData = []
          
          querySnapshot.forEach((doc) =>{
             let total_bill = 0   
             let item = doc.data()
             item.id = doc.id
             delete item.undefined
             if(item.status.toLowerCase() === 'doing')count_of_doing+=1 
             if(item.status.toLowerCase() === 'done') count_of_done+=1
             if(item.status.toLowerCase() === 'none') count_of_none+=1
             if(item.status.toLowerCase() === 'paid') count_of_paid+=1
             if(item.status.toLowerCase() === 'cancel') count_of_cancel+=1
             if(item.status.toLowerCase() === 'pending') count_of_pending+=1
             
             this.products.forEach((product)=>{    
                if(item[''+product.id] > 0 && item[''+product.id+'-price'] !== undefined){
                  total_bill+= (item[''+product.id+'-price'] * item[''+product.id])
                }else{
                  item[''+product.id] = 0
                  item[''+product.id+'-price'] = product.price
                }
             }) 
            item.total_bill = total_bill   
            this.rowData.push(item)             
          })
          this.rowData.sort(function(a,b){
            return a.timestamp - b.timestamp 
          })
          this.$message({
            message: 'Reloaded successful.',
             type:'success'
          })
          this.statistic = 'Done:' + count_of_done+'/' + this.rowData.length +'; None: ' + count_of_none +'/' + this.rowData.length
          this.statistic+= ';Doing:'+ count_of_doing+'/'+this.rowData.length +'; Paid: '+ count_of_paid+'/' + this.rowData.length
          this.statistic+= ';Cancel:'+ count_of_cancel+'/'+this.rowData.length +'; Pending: '+ count_of_pending+'/' + this.rowData.length
          this.on_filter_table()
      })
    },
    add_customer(){
      let item = {customer_name:this.model.customer_name,total_bill:0,location:this.model.location.name,status:'None',order_id:this.currentOrderId,note:""}
      item['timestamp'] = new Date().getTime()
      this.products.forEach((product)=>{    
        item[''+product.id] = 0
        item[''+product.id+'-price'] = product.price
      })
      
      
      db.collection(constant.DB_ORDER_DETAIL_TABLE).add(item).then((docRef)=>{
        this.$message({
            message: 'Created successful.',
             type:'success'
          })
        item.id = docRef.id
        this.rowData.push(item)
        // this.fetch_order_details(this.currentOrderId)
      })
    },
  }

}
</script>

<style scoped>
.status-done {
  background-color: green
}
.status-doing {
  background-color: yellow
}
.status-paid {
  background-color: #8B8E92
}
.status-cancel {
  background-color: red
}
.status-delivered {
  background-color: #34eb8c
}
.status-none {
  background-color: white
}

</style>

