<template>
  <div class="app-container">
    <div class="filter-container">
      <el-form ref="dataForm" :model="model" label-position="left" label-width="150px" style="width: 400px; margin-left:20px;">
        <el-form-item label="Order Name" prop="name">
          <el-input v-model="model.name" placeholder="Order Name" style="width: 200px;" class="filter-item" />
        </el-form-item>
        <el-button class="filter-item" style="margin-left: 10px;" type="primary" icon="el-icon-plus" @click="create_order" />
      </el-form>
    </div>
    <div style="height: 600px">
      <ag-grid-vue
        style="width: 100%; height: 450px;"
        class="ag-theme-alpine"
        :row-data="rowData"
        :column-defs="columnDefs"
        :modules="modules"
        row-selection="single"
        :framework-components="frameworkComponents"
        :get-row-node-id="getRowNodeId"
        @cell-value-changed="onCellValueChanged"
      />
    </div>

  </div>
</template>
<script>

import '@ag-grid-community/core/dist/styles/ag-grid.css'
import '@ag-grid-community/core/dist/styles/ag-theme-alpine.css'
import { AgGridVue } from '@ag-grid-community/vue'
import ButtonCellRenderer from './btn_cell_renderer'
// for community features
import { AllCommunityModules } from '@ag-grid-community/all-modules'
import waves from '@/directive/waves' // waves directive
import db from '@/utils/firebase'
import constant from '@/utils/constants'
import clip from '@/utils/clipboard'
export default {
  name: 'App',
  directives: { waves },
  components: {
    'ag-grid-vue': AgGridVue,
    ButtonCellRenderer
  },
  data() {
    return {
      gridOptions: null,
      rowData: this.rowData,
      columnDefs: this.columnDefs,
      modules: AllCommunityModules,
      frameworkComponents: undefined,
      products: undefined,
      model: {
        name: '',
        created_date: undefined
      },
    }
  },
  beforeMount() {
    this.create_fixed_columns()
  },
  created() {
    this.fetch_products()
    this.fetch_orders()
  },
  methods: {
    fetch_products(){
      this.products = []
      db.collection(constant.DB_PRODUCT_TABLE).get().then((querySnapshot) =>{
          querySnapshot.forEach((doc) =>{
            const prod = doc.data()
            prod.id = doc.id
            if (prod.active) {
              this.products.push({id:doc.id,name:doc.data().name,price:doc.data().price,active:doc.data().active})
            }
          })
        })
    },
    getRowNodeId(data) {
      return data.id
    },
    onCellValueChanged(event) {
      const item = event.data
      console.info('Changed:' + JSON.stringify(item))
      db.collection(constant.DB_ORDERS_TABLE).doc(item.id).set(item, { merge: true })
    },
    fetch_orders() {
      this.rowData = []
      db.collection(constant.DB_ORDERS_TABLE).get().then((querySnapshot) => {
        querySnapshot.forEach((doc) => {
          const orderItem = doc.data()
          orderItem.id = doc.id
          this.rowData.push(orderItem)
        })
      })
    },
    create_fixed_columns() {
      this.columnDefs = [
        { colId: 'id', lockPosition: true, suppressSizeToFit: true, headerName: '#', field: 'id', width: 300, minWidth: 250 },
        { colId: 'name', lockPosition: true, suppressSizeToFit: true, headerName: 'Order Name', field: 'name', width: 200, minWidth: 150, editable: true },
        { colId: 'total_bill', lockPosition: true, suppressSizeToFit: true, headerName: 'Total Bill', field: 'total_bill', width: 150, minWidth: 150,
          valueFormatter: (params) => {
            return '$' + this.formatNumber(params.value)
          }
        },
        { lockPosition: true, suppressSizeToFit: true, headerName: 'Actions', width: 450, minWidth: 400,
          cellRendererFramework: 'ButtonCellRenderer',
          cellRendererParams: {
            router: this.$router,
            callback: this,
            editHandler: function(data, route) {
              // console.info ("edit :" + JSON.stringify(data))
              const url = '/orders/detail/' + data.id
              route.replace({ path: url })
            },
            deleteHandler: function(data, cb) {
              // console.info ("delete :" + JSON.stringify(data))
              cb.deleteOrder(data.id)
            },
            copyLinkHandler: function(data, cb) {
              // console.info ("delete :" + JSON.stringify(data))

              const url = 'http://longpham83.gitlab.io/#/muarau/' + data.id
              clip(url, event)
            },
            updateProductsHandler: function(data, cb){
              cb.updateProducts(data.id)
            }
          }
        }
      ]
    },
    formatNumber(number) {
      return Math.floor(number)
        .toString()
        .replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')
    },
    updateProducts(order_id){
      db.collection(constant.DB_ORDER_PRODUCTS_TABLE).where('order_id','==',order_id).get().then((resp)=>{
        let newItem = {order_id:order_id,products:this.products}
        if (resp.size === 0){
          db.collection(constant.DB_ORDER_PRODUCTS_TABLE).add(newItem)
        } else{
          let batch = db.batch()
          resp.forEach((doc)=>{
            batch.set(doc.ref,newItem)
          })
          batch.commit()
        }
        this.$message({
            message: 'Updated successful.',
            type: 'success'
          })  
        
      })
    },
    create_order() {
      const item = {
        name: this.model.name,
        total_bill: 0,
        version: 'v2'
      }
      
      db.collection(constant.DB_ORDERS_TABLE).add(item).then((docRef) => {
        this.$message({
          message: 'Created successful.',
          type: 'success'
        })
        this.model.name = ''
        // this.fetch_orders()
        
        item.id = docRef.id
        let order_product_item ={order_id: item.id,products:this.products}
        db.collection(constant.DB_ORDER_PRODUCTS_TABLE).add(order_product_item)
        this.rowData.push(item)
      })
    },
    add_products_to_order(order_id){
      
    },
    deleteOrder(id) {
      this.$confirm('Confirm to remove the order?', 'Warning', {
        confirmButtonText: 'Confirm',
        cancelButtonText: 'Cancel',
        type: 'warning'
      }).then(async() => {
        const idx = this.rowData.findIndex(item => item.id === id)
        this.rowData.splice(idx, 1)
        const batch = db.batch()
        db.collection(constant.DB_ORDER_DETAIL_TABLE).where('order_id', '==', id)
          .get()
          .then((snapshot) => {
            snapshot.forEach((doc) => {
              batch.delete(doc.ref)
            })
            batch.commit()
          })
        db.collection(constant.DB_ORDERS_TABLE).doc(id).delete()
        this.$message({
          message: 'Deleted successful.',
          type: 'success'
        })
      })
    }
  }
}
</script>
<style>

</style>
