<template>
  <div class="app-container">
    <div class="filter-container">
      <el-input v-model="query.keyword" placeholder="Keyword" style="width: 200px;" class="filter-item" @keyup.enter.native="handleFilter" />
      <el-button v-waves class="filter-item" type="primary" icon="el-icon-search" @click="handleFilter">
        Search
      </el-button>
      <el-button class="filter-item" style="margin-left: 10px;" type="primary"  @click="handleCreate" >
          Create Version
      </el-button>
      <el-button class="filter-item" style="margin-left: 10px;" type="primary"  @click="fetchAppVersion" >
          Refresh
      </el-button>
    </div>
    <el-table
      v-loading="loading"
      :data="list"
      border
      fit
      highlight-current-row
      style="width: 100%;"
    >
      <el-table-column label="ID" prop="id"  align="center" min-width="15%">
        <template slot-scope="{row}">
          <span>{{ row.id }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Platform" min-width="15%">
        <template slot-scope="{row}">
          <span class="link-type">{{ row.appType }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Bundle ID" min-width="25%">
        <template slot-scope="{row}">
          <span class="link-type">{{ row.bundleId }}</span>
        </template>
      </el-table-column>
      <el-table-column label="App Version" min-width="20%">
        <template slot-scope="{row}">
          <span class="link-type">{{ row.appVersion }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Status" min-width="10%">
        <template slot-scope="{row}">
          <span class="link-type">{{ row.status }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Actions" min-width="20%">
        <template slot-scope="{row}" v-if="row.status==='ready'">
          <el-button type="primary" size="mini" @click="openPreviewQrcode(row.id)">
            QR Code
          </el-button>
          <el-button type="primary" size="mini" icon="el-icon-document" @click="copyUrl(row.versionResourceUri,$event)">
            Copy
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <pagination v-show="total > 0" :total="total" :page.sync="query.page" :limit.sync="query.pageSize" @pagination="fetchAppVersion" />
    <CreateAppVersionDialog ref="dlg" @callback="handleFilter" />
    <PreviewQrcode ref="qrcode_dlg" />
  </div>
</template>

<script>
import CreateAppVersionDialog from './create_app_version'
import PreviewQrcode from './preview_qrcode'
import { apiPost, apiDelete } from '@/api/api'
import Pagination from '@/components/Pagination' // secondary package based on el-pagination
import endpoints from '@/api/endpoints'
import waves from '@/directive/waves' // waves directive
import clip from '@/utils/clipboard'
export default {
  name: 'AppDetail',
  directives: { waves },
  components: { CreateAppVersionDialog, Pagination, PreviewQrcode },
  data() {
    return {
      loading: false,
      total: 0,
      list: undefined,
      intervalid: undefined,
      query: {
        page: 1,
        pageSize: 10,
        keyword:undefined,
      },
      tempRoute: {}, 
      currentAppId: undefined
    }
  },
  created() {
      this.tempRoute = Object.assign({}, this.$route)
      this.currentAppId = this.$route.params && this.$route.params.id
      this.setTagsViewTitle()
      this.fetchAppVersion()
  },
  methods: {
    fetchAppVersion() {
      this.query.appId = this.currentAppId
      this.loading = true

      let url = endpoints.search_version
      url = url.replaceAll('{appId}', this.query.appId)
      apiPost(url, this.query).then(response => {
        this.loading = false
        this.list = response.data.records
        this.total = response.data.total
      }).catch(error => {
        console.log(error)
        this.loading = false
      })
    },
    handleFilter() {
      this.query.page = 1
      this.fetchAppVersion()
    },
    setTagsViewTitle() {
      const title = 'Edit App'
      const route = Object.assign({}, this.tempRoute, { title: `${title} - ${this.currentAppId}` })
      this.$store.dispatch('tagsView/updateVisitedView', route)
    },
    handleCreate() {
      this.$refs.dlg.show(this.currentAppId)
    },
    openPreviewQrcode(id) {
      this.$refs.qrcode_dlg.show(id)
    },
    copyUrl(url,event) {
      clip(url,event)
    }
  }
}
</script>
