<template>
  <el-dialog :title="'Create App'" :visible.sync="isVisible">
    <el-form ref="dataForm" :rules="rules" :model="model" label-position="left" label-width="150px" style="width: 400px; margin-left:20px;">
      <el-form-item label="App Name" prop="appName">
        <el-input v-model="model.appName" />
      </el-form-item>
      <el-form-item label="App Description" prop="description">
        <el-input v-model="model.description" />
      </el-form-item>
      <el-form-item label="App Icon" prop="appIcon">
        <input ref="fileInput" type="file" @change="onFileUpload" />
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button @click="isVisible = false">
        Cancel
      </el-button>
      <el-button type="primary" @click="onSubmit()">
        Save
      </el-button>
    </div>
  </el-dialog>
</template>>

<script>
import { apiPost } from '@/api/api'
import endpoints from '@/api/endpoints'
import {getExtension, getBase64} from '@/utils/file-utils'
export default {
    name: 'CreateNewAppDialog',
    data() {
      return {
        loading: false,
        isVisible: false,  
        model: {
          appName: '',
          description: '',
          file: undefined
        },
        rules: {
          appName: [{ required: true, message: 'App Name is required', trigger: 'change' }],
          description: [{ required: true, message: 'Description is required', trigger: 'blur' }]
        }
      }
    },
    methods: {
      onFileUpload (event) {
        this.model.file = event.target.files[0]
      }, 
      show(){
        this.isVisible = true
        this.resetModel()  
      },
      onSubmit() {
        this.$refs['dataForm'].validate((valid) => {
          if (valid) {
            const formData = new FormData()
            formData.append("file",this.model.file)
            formData.append("appName",this.model.appName)
            formData.append("description",this.model.description)
            this.loading = true
            apiPost(endpoints.app, formData).then(response=>{
              this.loading = false
              this.isVisible = false
              this.$message({
                message: 'Created App successful.',
                type:'success'
              })
              this.$emit('callback')
            })
          }
        })
      },
      resetModel() {
        this.model = {
          appName: '',
          description: '',
          file: undefined
        }
        const input = this.$refs['fileInput']
        if (input !== undefined) {
          input.type = 'text'
          input.type = 'file'
        }
        
      }
    }
}
</script>