<template>
  <el-dialog :title="'Create Version'" :visible.sync="isVisible">
    <loading :active.sync="loading" 
        :is-full-page="true"></loading>
    <el-form ref="dataForm" :rules="rules" :model="model" label-position="left" label-width="150px" style="width: 400px; margin-left:20px;">
      <el-form-item label="Bundle ID" prop="bundleId">
        <el-input v-model="model.bundleId" />
      </el-form-item>
      <el-form-item label="Version" prop="appVersion">
        <el-input v-model="model.appVersion" />
      </el-form-item>
      <el-form-item label="Platform" prop="appType">
        <el-select v-model="model.appType" class="filter-item" clearable placeholder="Please select">
          <el-option v-for="item in platforms" :key="item" :label="item" :value="item" />
        </el-select>
      </el-form-item>
      <el-form-item label="App Binary" prop="file">
        <input type="file" @change="onFileUpload" />
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button @click="isVisible = false">
        Cancel
      </el-button>
      <el-button type="primary" @click="onSubmit()">
        Save
      </el-button>
    </div>
  </el-dialog>
</template>>

<script>
import { apiPost } from '@/api/api'
import endpoints from '@/api/endpoints'
import {getExtension, getBase64} from '@/utils/file-utils'
import Loading from 'vue-loading-overlay'
    // Import stylesheet
import 'vue-loading-overlay/dist/vue-loading.css'

export default {
    name: 'CreateAppVersionDialog',
    components: { Loading },
    data() {
      return {
        loading: false,
        isVisible: false,
        model: {
          bundleId: '',
          description: '',
          appType: undefined,
          appVersion: undefined,
          appId: undefined
        },
        file: undefined,
        currentAppId: undefined,
        platforms: ["IOS","Android"],
        rules: {
          bundleId: [{ required: true, message: 'Bundle ID is required', trigger: 'change' }],
          appVersion: [{ required: true, message: 'App Version is required', trigger: 'change' }],
          appType: [{ required: true, message: 'Platform is required', trigger: 'change' }],

        }

      }
    },
    methods: {
      onFileUpload(event) {
        this.file = event.target.files[0]
      },
      show(appId){
        this.isVisible = true
        this.currentAppId = appId
        this.model.appId = this.currentAppId
        this.resetModel()
      },
      onSubmit() {
        this.$refs['dataForm'].validate((valid) => {
          if (valid) {
            const formData = new FormData()
            formData.append("file",this.file)
            formData.append("bundleId",this.model.bundleId)
            formData.append("appType",this.model.appType.toLowerCase())
            formData.append("appVersion",this.model.appVersion)
            formData.append("appId",this.model.appId)
            this.loading = true
            
            apiPost(endpoints.create_version, formData).then(response=>{
              this.loading = false
              this.isVisible = false
              this.$message({
                message: 'Created Version successful.',
                type:'success'
              })
              this.$emit('callback')
            }).catch(error => {
              this.loading = false
            })
          }
        })
      },
      resetModel() {
        this.model = {
          appName: '',
          description: '',
          appIcon: undefined,
          appIconExt: undefined
        }
        this.model.appId = this.currentAppId
      }
    }
}
</script>