<template>
  <div class="app-container">
    <div class="filter-container">
      <el-input v-model="query.keyword" placeholder="App Name" style="width: 200px;" class="filter-item" @keyup.enter.native="handleFilter" />
      <el-button v-waves class="filter-item" type="primary" icon="el-icon-search" @click="handleFilter">
        Search
      </el-button>
      <el-button class="filter-item" style="margin-left: 10px;" type="primary" icon="el-icon-plus" @click="handleCreate" />
    </div>
    <el-table
      v-loading="loading"
      :data="list"
      border
      fit
      highlight-current-row
      style="width: 100%;"
    >
      <el-table-column label="ID" prop="id" sortable="custom" align="center" width="80">
        <template slot-scope="{row}">
          <span>{{ row.id }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Icon" min-width="150px">
        <template slot-scope="{row}">
          <img :src="row.appIcon" width="32" height="32">
        </template>
      </el-table-column>
      <el-table-column label="App Name" min-width="250px">
        <template slot-scope="{row}">
          <span class="link-type">{{ row.appName }}</span>
        </template>
      </el-table-column>
      <el-table-column label="App Description" min-width="250px">
        <template slot-scope="{row}">
          <span class="link-type">{{ row.description }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Actions" min-width="250px">
        <template slot-scope="{row}">
          <router-link :to="'/app/edit/'+ row.id">
            <el-button type="primary" size="mini">
              Edit
            </el-button>
          </router-link>
        </template>
      </el-table-column>
    </el-table>
    <pagination v-show="total > 0" :total="total" :page.sync="query.page" :limit.sync="query.pageSize" @pagination="fetchApps" />
    <CreateNewAppDialog ref="dlg" @callback="handleFilter" />
  </div>
</template>
<script>
import { apiPost, apiDelete } from '@/api/api'
import CreateNewAppDialog from './create_new_app'
import Pagination from '@/components/Pagination' // secondary package based on el-pagination
import endpoints from '@/api/endpoints'
import waves from '@/directive/waves' // waves directive
export default {
  name: 'App',
  directives: { waves },
  components: { CreateNewAppDialog, Pagination },
  data() {
    return {
      loading: false,
      total: 0,
      list: undefined,
      query: {
        page: 1,
        pageSize: 10,
        keyword: ''
      }
    }
  },
  created() {
    this.fetchApps()
  },
  methods: {
    fetchApps() {
      this.loading = true
      apiPost(endpoints.search_app, this.query).then(response => {
        this.loading = false
        this.list = response.data.records
        this.total = response.data.total
      }).catch(error => {
        this.loading = false
      })
    },
    handleFilter() {
      this.query.page = 1
      this.fetchApps()
    },
    handleCreate() {
      this.$refs.dlg.show()
    }
  }
}
</script>
