<template>
  <el-dialog :title="'QR Code'" :visible.sync="isVisible">
    <img :src="qrcodeUrl" width="530" height="530">
  </el-dialog>
</template>
<script>

import endpoints from '@/api/endpoints'
export default {
  name: 'PreviewQRcodeDialog',
  data() {
    return {
      isVisible: false,
      appVersionId: undefined,
      qrcodeUrl: undefined
    }
  },
  methods: {
    show(versionId) {
      this.appVersionId = versionId
      this.isVisible = true
      this.qrcodeUrl = this.getQrcodeEndpoint()
    },
    getQrcodeEndpoint() {
      const base = endpoints.baseUrl
      let path = endpoints.qrcode
      path = path.replaceAll('{appId}', this.appVersionId)
      const fullUrl = base + path
      return fullUrl
    }
  }
}
</script>
