<template>
  <div class="app-container">
    <div class="filter-container">
      <el-form ref="dataForm" :model="model" label-position="left" label-width="150px" style="width: 400px; margin-left:20px;">
        <el-form-item label="Customer Name" prop="name">
          <el-input v-model="model.name" placeholder="Customer Name" style="width: 200px;" class="filter-item" />
        </el-form-item>
        <el-form-item label="Locations" prop="location">
          <el-select v-model="model.location" class="filter-item" clearable placeholder="Please select" @change="selectLocation" value-key="id">
            <el-option v-for="item in locations" :key="item.id" :label="item.name" :value="item"  />
          </el-select>
        </el-form-item>
        <el-button class="filter-item" style="margin-left: 10px;" type="primary" icon="el-icon-plus" @click="addCustomer" />
      </el-form>
    </div>
    <div>
    <vue-editable-grid
      class="my-grid-class"
      ref="grid"
      id="mygrid"
      :column-defs="columnDefs"
      :row-data="list"
      row-data-key="id"
      @link-clicked="linkClicked"
    >
    </vue-editable-grid>
    </div>

  </div>
</template>
<script>

import VueEditableGrid from "vue-editable-grid";
import "vue-editable-grid/dist/VueEditableGrid.css";
import waves from '@/directive/waves' // waves directive
import db from '@/utils/firebase'
export default {
  name: 'App',
  directives: { waves },
  components: { 
    'vue-editable-grid' : VueEditableGrid
  },
  data() {
    return {
      loading: false,
      total: 0,
      list: undefined,
      columnDefs:[],
      defaultColDef:undefined,
      selectedRow :undefined,
      columnTypes:null,
      gridOptions:null,
      gridApi: null,
      columnApi: null,
      model:{
        name: '',
        location: undefined
      },
      locations: [],
      query: {
        page: 1,
        pageSize: 10,
        keyword: ''
      }
    }
  },
  beforeMount() {
    console.info("Before Mount")
    this.createColumnDefs()
  },
  created() {
    this.fetchLocations()
    this.fetchCustomers()
  },
  methods: {
    linkClicked($event){
      this.deleteCustomer($event.rowData.id);
    },
    createColumnDefs(){
      this.columnDefs = [
        {
          sortable: false,
          filter: false,
          field: "id",
          headerName: "#",
          editable: false
        },
        {
          sortable: true,
          filter: true,
          field: "name",
          headerName: "Customer Name",
          editable: true,
        },
        {
          sortable: true,
          filter: true,
          field: "location",
          headerName: "Location",
          editable: true,
        },
        {
          sortable: false,
          filter: false,
          field: "action",
          headerName: "Action",
          editable: false,
          type:'link'
        }
      ]
    },
    selectLocation(val){
      console.info(val.name)
      this.model.location = val
    },
    fetchCustomers() {
      this.loading = true
      this.list = []
      db.collection('customers').get().then((querySnapshot)=> {
        querySnapshot.forEach((doc) =>{
          this.list.push({id:doc.id,name: doc.data().name,location:doc.data().location.name,action:'Delete'})
        })
        this.loading = false
      })
    },
    fetchLocations(){
      db.collection('locations').get().then((querySnapshot)=> {
        querySnapshot.forEach((doc) =>{
          this.locations.push({id:doc.id,name: doc.data().name})
        })
      })
    },
    addCustomer(){
      db.collection('customers').add({
        name: this.model.name,
        location: this.model.location
      }).then((docRef)=>{
        this.$message({
                message: 'Created successful.',
                type:'success'
              })
              this.model.name = ''
        this.fetchCustomers()
      })
    },
    deleteCustomer(id){
      db.collection("customers").doc(id).delete().then(() => {
        this.fetchCustomers()
        this.$message({
                message: 'Deleted successful.',
                type:'success'
              })
      }).error(err =>{

      })
    }

  }
}
</script>
